
* {
	box-sizing: border-box;
}

html{
	scroll-behavior:smooth;
	color:black; /* text color for entire page*/
	background-color: black; /*background color for entire page*/
}

body{
	margin:0px; /*no border spaces*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
	padding: 10px;
}

.col-7{width:7%;}
.col-13{width:13%;}
.col-31{width:31%;}
.col-40{width:40%;}
.col-60{width:60%;}

.flex{
	display: flex;
	flex-wrap: nowrap;
}

.pages{  /*the main page*/
	margin:0px;
	border:1px solid white;
	height: 48.11vw;
	background-size: cover;
	overflow: hidden;
	padding:0px;
	opacity:0.8;
}

#home{
	background: url('res/back_alien.jpg') no-repeat;
	background-size:100%;
	border:1px solid black;
}

#home img{
	position:absolute;
	bottom:1.2%;
	width:99.85%;
}

.NavBar{
		background-color:rgba(0, 0, 0,0.2);
		text-align:center;
		padding:2% 0% 2.1% 0%;
		position:sticky;
		top:0;
		z-index: 4;
		border-radius: 0px 0px 50px 50px;
}

.nav{
	background-color:rgb(50,80,100);
	padding:1.1vw 3vw;
	text-align:center;
	text-decoration:none;
	color:white;
	font-family: 'Kalam', cursive;
	outline: 0.3vw dashed rgb(250, 95, 106);
	outline-offset: -0.3vw;
	margin:0vw 1.5vw 0vw 1.5vw;
}

.up{
	padding:1vw 2vw;
	margin-right:4vw;
	outline:none;
	background-color:DodgerBlue;
	border-radius:7vw;
	border:5px solid white;
}
.upTop{
		position:sticky;
	  top:90vh;
		text-align: right;
		z-index:2;
		padding:0px;
}
.header{
	height:18%;
}

img.auth{
	width:70%;
	height: auto;
	border:10px solid white;
	outline:5px solid black;
}

.img_cont{
	text-align:center;
	float:bottom-right;
	width:30%
}

.whiteBox{
	position:absolute;
	top:17.5%;
	left:12%;
	border-radius:40px;
	background-color:rgba(255,255,255,0.8);
	width:35%;
	height:70%;
}

#introduction{
	background-image:url('res/blue.jpg');
}

#goals{
	background-image:url('res/green.jpg');
}

#projects{
	background-image:url('res/gold.jpg');
	opacity:1;
}

#skillsAndInterests{
	background-image:url('res/redPink.jpg');
	position: relative;
}

#contact{
	background-image:url('res/Neo.jpg');
	opacity:1;
}

/*text formatting*/
.title{
	font-family: 'Averia Sans Libre', cursive;
	font-size: 200%;
	text-align:center;
	margin: 0px;
	padding:0px;
}
.quotes{ /*for quotes*/
	font-family: 'Berkshire Swash', cursive;
	font-size:120%;
	line-height:1.5;
	padding-left: 7px;
	letter-spacing:1px;
}

.content{  /*for text content*/
	word-wrap:break-word;
	text-align: justify;
	font-size: 110%;
	font-family: 'Roboto Slab', serif;
	padding:5px;
}

.slide{
			position:absolute;
			top:10%;
			left:12%;
			width:80%;
			height:88%;
			display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 1.2vw;
  width: 1.2vw;
  margin: 0 0.3vw;
  background-color: #bbb;
  border-radius: 50%;
	display:inline-block;
  transition: background-color 0.6s ease;
	border:2px solid black;
}

.active, .dot:hover {
  background-color: #000;
}
